.floating-btn{
    margin: 1rem;
    background: #464646;
    border: darkgray;
    width: 6rem;
    text-align: center;
    padding: 0.6rem 0;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
}
.floating-btn:hover{
    opacity: .7;
}

.show {
  opacity: 1;
  transform: translateX(0);
}
.hide {
  opacity: 0;
  position: absolute;
  left: -100vw;
  transform: translateX(-100vw);
}
.toggle{
    transition: opacity 400ms, transform ease 500ms;
}
hr{
    margin: 0 4rem;
    border-color: #6f6f6f;
}
.middle {
    width: 45%;
}
.third {
    width: 33.3%;
}
.reset,
body {
    border: none;
    padding: 0;
    margin: 0;
}
a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0;
}
a:hover {
    text-decoration: underline;
}
body,
h1,
a {
    font-family: sans-serif;
}
body {
    background: linear-gradient(90deg, #191919, #292929, #191919);

}
.header-media {
    background: linear-gradient(0deg, #292929, white, #292929);
        background: url(assets/clouds.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 40px 5px #292929;
    margin: auto;
    min-height: 249px;
}
.header-media video {
    width: 100%;
    display: flex;
        filter: blur(0.4rem);
    opacity: 0.7;
}
.header-media .head-title {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.header-media .head-title img {
    width: 70%;
    max-width: 12rem;

}
.header-media .head-title img:last-child {
    filter: drop-shadow(2px 2px 2px);
    min-width: 300px;


}

.header-media h1 {
    position: absolute;
    color: white;
    font-family: initial;
    margin: 0;
    top: 1rem;
    left: 1rem;
}

section.remaining-time {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
}

section.info {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5rem auto;
    flex-wrap: wrap;
    max-width: 60rem;
}

span#time {
    margin: 0 0.6rem;
    font-size: 3rem;
    line-height: 40px;
}
.disabled{
    opacity: .4!important;
    cursor: not-allowed!important;
}
.disabled a{
    cursor: not-allowed!important;
}

.card {
    background: #e2e2e2;
    border-radius: 0.7rem;
    color: #292929;
    overflow: hidden;
    max-width: 22rem;
    box-shadow: 2px 7px 6px -5px #000000ba;
    min-width: 20rem;
    margin: 1rem;
    padding-bottom:3rem;
}

.card img {
    width: 100%;
    object-fit: cover;
        height: 10rem;
    object-position: 0 25%;
}

.card a {
    color: slategray;
}

.card h3,
.card p {
    text-align: left;
    padding: 0 1.7rem;

}

@media(min-width: 730px) {
    .header-media {
        height: 42vh;
    }
}
@media(min-width: 1200px) {
    .header-media {
        height:unset;
    }
    .header-media video {
        margin-top: -15vh;
        filter: blur(0.2rem);
        opacity: 0.9;
    }
    .header-media .head-title {
       top: 23vh;
    }
    .header-media .head-title img:last-child {
        min-width: 516px;
    }
}


@media(max-width: 530px) {
    .header-media {
        height: 22rem;
        background-image: url(assets/clouds.jpg);
    }
    .header-media .head-title {
        top: 3vh;
    }
    .header-media video{
        display: none;
    }
}

/*Rosario*/

.rosario-container{
    display: flex;
    flex-direction: column;
    margin: 2.5rem auto;
    width: 60%;
}

.rosario-container header{
    color: white;
    display: flex;
    flex-flow: column;
    width: 50%;
}

.rosario-container nav{
    text-align: center;
    vertical-align: middle;
}


.rosario-container h2, .rosario-container h3{
    margin:0;
}

#rosario{
    height: 14rem;
    display: flex;
}

.pasos-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
  min-width: 12rem;
  max-width: 43rem;
}

.pasos{
    background-color: #05759f;
    border: 2px solid #036d78;
    border-radius:100%;
    display:flex;
    width:1rem;
    height:1rem;
    transition: transform ease .3s, background-color ease .3s, border-color ease .3s;
    position: relative;
}

.pasos.picked{
    background-color: #ffdf00;
    box-shadow: inset 0px 0px 3px 2px #fec207, 0px 0px 8px 1px #ffa400;
    transform: scale(1.2);
    border-color: #fffea4;
}

.pasos::before{
    content: '';
    position: absolute;
    display: flex;
    top: -0.08rem;
    bottom: 0;
    background: url(assets/bright-ball.svg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 7.5rem;
    height: 7.5rem;
    left: -3.24rem;
    right: 0rem;
    margin: auto;
    mix-blend-mode: lighten;
    transform-origin: center center;
    opacity:0;
    transform: rotate(0deg) scale(.1);
    transition: transform ease .5s, opacity ease .7s;
}

.pasos.picked::before{
    animation-duration: 42s;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 1;
}

.in-process {
    color: bisque;
    font-size: 2.4rem;
    margin: 1rem 0;
}

.mary{
    background: url(/assets/virgen_maria.png) no-repeat;
    background-size: contain;
    background-position: center;
}


@keyframes rotate {
    from{
        transform: rotate(0deg) scale(1);
    }
    to{
        transform: rotate(360deg) scale(1);
    }
}
