.reset,
body {
    border: none;
    padding: 0;
    margin: 0;
}
a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0;
}
a:hover {
    text-decoration: underline;
}
body,
h1,
a {
    font-family: sans-serif;
}
.header-media {
    position: relative;
    overflow: hidden;
}
.header-media video {
    height: 100.05vh;
    display: flex;
    filter: blur(2px);
}
.header-media img {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15%;
    max-width: 333px;

}
.header-media h1 {
    position: absolute;
    color: white;
    font-family: initial;
    margin: 0;
    top: 1rem;
    left: 1rem;
}

section.info {
    display: flex;
    flex-flow: column;
    background: #ffffff6e;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;

}

div.enlaces {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
div.enlaces a {
    display: flex;
    width: 45%;
    max-width: 14rem;
}
div.enlaces a small {
    text-align: left;
}
.calendar-link,
.meet-link {
    display: flex;
    vertical-align: middle;
    justify-content: center;
}
.meet-link {
    width: 150px;
}
.meet-link img,
.calendar-link img {
    margin: 0.4rem;
}

.calendar-link {
    flex-flow: column;
}
